/*
   Main color: #b79990

*/


@font-face {
    font-family: AvenirRegular; 
    src: url(../fonts/AvenirNextCyr-Regular.otf);
    font-weight: normal;
    font-style: normal; 
}
    
body {
  font-family: AvenirRegular;
}
header {
    padding: 154px 0 100px;
    background: url(../img/header.jpg) no-repeat top center fixed;
    height: 900px;
}

.about {
    background: url(../img/about-fon.jpg) no-repeat top center fixed;
    height: 900px;
}

.collections {
    background-color: #ffffff;
    height: 900px;
}
.corporate {
    background: url(../img/about-fon.jpg) no-repeat top center fixed;
    height: 900px;
}
.contact {
    background: url(../img/contact-fon.jpg) no-repeat top center fixed;
    background-size: cover;
    background-color: #b79990;
    height: 900px;
}

.footer {
    background-color: #b79990;
}

@media (min-width: 992px) {
    header {
        padding: 156px 0 100px;
    }
}

section {
    padding: 60px 0;
}

.bg-bej {
    background-color: #b79990 !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}

.main-link {
    height: 51px;
    width: 255px;
    line-height: 2.1;
    border-radius: 30px!important;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 8px 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    /* padding: 8px 5px; */
    font-size: 18px;
    border-radius: 0;
    cursor: pointer;
}
.transparent-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.transparent-button:hover {
    background-color: #b79990;
    border-color: #b79990;
    color: #fff;
    text-decoration: none; }

.centertext {
    text-align:center;
}

.cwhite {
    color: white;
}

a > img {
    border-width: 5px;
    border-style: solid;
    border-color: #b79990;
}

.title-down {
    padding-bottom: 30px;
}

.uline {
    text-decoration: underline;
    text-decoration-color: #b79990;
}

.form-wrap {
    padding: 30px 15px;
    border: 1px solid #b79990;
}
.form-group {
    margin-bottom: 15px;
}
.page-views-contacts .contact-button {
    height: 47px;
}
.simple-button {
    background-color: #b79990;
    border: 1px solid #b79990;
    color: #fff;
display: inline-block;
position: relative;
text-align: center;
width: 100%;
transition: all .3s;
padding: 8px 5px;
font-size: 18px;
border-radius: 0;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-o-user-select: none;
-ms-user-select: none;
user-select: none;
}
.form-control {
display: block;
width: 100%;
margin: 0;
border-radius: 0;
font-size: 16px;
color: #231f20;
background-color: rgba(183,153,144,0.19);
border: 1px solid #b79990;
border-radius: 0!important;
transition: all .3s;
box-shadow: none!important;
height: 47px!important;
padding: 6px 12px 6px 18px!important;
}




