/*
   Main color: #b79990

*/


@font-face {
    font-family: AvenirRegular; 
    src: url(../fonts/AvenirNextCyr-Regular.otf);
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: AvenirThin; 
    src: url(../fonts/AvenirNextCyr-Thin.otf);
    font-weight: normal;
    font-style: normal; 
}

body {
  font-family: AvenirRegular;
  
}
header {
   /* padding: 154px 0 100px; */
    background: url(../img/main-page-bg.jpg) no-repeat bottom center;
    /* background-size: cover; */
    height: 950px;
}
.header-ttl {
    font-family: AvenirThin;
    font-size: 48px;
    text-align: center;
    line-height: 70px;
    padding-top: 50px;
}
.about {
    background: url(../img/about-fon.jpg) no-repeat top center fixed;
    height: 1000px;
}

.collections {
    background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #b79990 75%);
     /* background-color: #b79990;  */
    /* background: url(../img/about-fon.jpg) no-repeat top center fixed; */
    height: 1000px;
}
.corporate {
    background: url(../img/about-fon.jpg) no-repeat top center fixed;
    height: 1800px;
}
.contact {
    /* background: url(../img/about-fon.jpg) no-repeat top center fixed; */
   /* background-size: cover; */
    /* background-color: #b79990; */
    background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #b79990 75%);
    height: 1000px;
    margin: 0;
}

.footer {
    background-color:#fff;
    color: black !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important; 
}

.material {
   background-color: white;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media (min-width: 992px) {
    header {
        padding: 100px 0 100px;
    }
}

section {
    padding: 60px 0;
}

.bg-bej {
    background-color: #b79990 !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}

.main-link {
    height: 51px;
    width: 255px;
    line-height: 2.1;
    border-radius: 30px!important;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 8px 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    /* padding: 8px 5px; */
    font-size: 18px;
    border-radius: 0;
    cursor: pointer;
}
.transparent-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.transparent-button:hover {
    background-color: #b79990;
    border-color: #b79990;
    color: #fff;
    text-decoration: none; }

.centertext {
    text-align:center;
}

.cwhite {
    color: white;
}

a > img {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.title-down {
    padding-bottom: 30px;
}

.uline {
    margin-top: 20px;
    text-decoration: underline;
    text-decoration-color: #b79990;
}

.form-wrap {
    padding: 30px 15px;
    border: 1px solid #b79990;
}
.form-group {
    margin-bottom: 15px;
}
.page-views-contacts .contact-button {
    height: 47px;
}
.simple-button {
    background-color: #b79990;
    border: 1px solid #b79990;
    color: #fff;
display: inline-block;
position: relative;
text-align: center;
width: 100%;
transition: all .3s;
padding: 8px 5px;
font-size: 18px;
border-radius: 0;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-o-user-select: none;
-ms-user-select: none;
user-select: none;
}
.form-control {
display: block;
width: 100%;
margin: 0;
border-radius: 0;
font-size: 16px;
color: #231f20;
background-color: rgba(183,153,144,0.19);
border: 1px solid #b79990;
border-radius: 0!important;
transition: all .3s;
box-shadow: none!important;
height: 47px!important;
padding: 6px 12px 6px 18px!important;
}

.page-about-text-box {
    margin-top: 20px;
    color: #fff;
    margin-bottom: 40px;
    background-color: #c2aaa2;
    text-align: center;
    font-size: 22px;
    padding: 10px;
}
.page-about-content ul li {
    display: inline-block;
    position: relative;
    /* padding-left: 60px;
    margin-bottom: 15px; */
    color: #403f3d;
}

.text-box-inner {
    padding: 16px 10px;
    border: 1px solid #fff;
}

.mini-title {
    display: block;
    margin-bottom: 30px;
    font-size: 24px;
    color: #403f3d;
}

.pd10 {
    margin-bottom: 10px;
}

.main-form {
    padding-bottom: 20px;
}

.coop-logo {
text-align: right;
padding-bottom: 30px;
}
.coop-logo span {
display: inline-block;
margin: 35px 10px 0 0;
vertical-align: middle;
font-size: 24px;
}
.coop-logo img {
display: inline-block;
max-width: 150px;
}

.hgh {
    line-height: 30px;
    font-size: 18px;
}

.m-title {
    display: block;
    font-size: 24px;
    margin-bottom: 15px;
}

.ttl {
    font-size: 36px;
    text-align: center;
}